* {
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
}

.body {
  display: flex;
  margin-left: 20%;
  padding: 70px 40px;
}

h1{
  font-family: 'Lobster', cursive;
  color: var(--darktext);
}

h1.title{
  margin: 0;
}