* {
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
}

.body {
  display: flex;
  margin-left: 15%;
  padding: 70px 40px;
}

h1{
  font-family: 'Lobster', cursive;
  color: var(--darktext);
}

h1.title{
  margin: 0 0 15px 0;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
  background-color: #fff;
  width: 18px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 16px;
  border: 6px solid #fff;
  transition: 0.3s;
}


body::-webkit-scrollbar-thumb:hover {
  background-color: #c2c2c2;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display:none;
}

@media (max-width: 1000px) {
  .body{
    margin-left: 0;
  }
}