.drawer-navbar {
  display: flex;
  flex-direction: row-reverse;

  .hamburguer{
    background-color: white !important;
    color: #16ac8b;
  }

  

  .hamburguer:focus{
    background-color: #FFF;
    
  }
}