:root {
  --darktext: #434343;
  --lightext: #b9b9b9;
  --active: #dddddd;
  --darkbg: #292929;
  --secundary: #907fe5;
}

.drawer-navbar {
  padding: 13px 50px;
  background-color: var(--darkbg);
  display: none;

  .hamburguer{
    color: var(--lightext);
    margin-right: -20px;
  }
  .css-le6y48t-MuiButtonBase-root-MuiButton-root{
    background-color: none !important;
  }
  .hamburguer:active{
    background-color: #FFF  !important;
  }

  .profile-pic{
    width: 50px;
    border-radius: 30%;
    padding: 3px;
    border: 1px solid #b9b9b9;
  }

}

.sidenav-bar{
  background-color: var(--darkbg);
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .links{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
      color: var(--lightext);
      margin: 0 0 9px 0;
      transition: 0.2s;
      padding: 0 4px;
    }

    .about-link{
      color: var(--secundary);
    }
  }

  a:hover {
    color: white;
  }

  a.active {
    font-weight: bold;
    color: var(--active) ;
    border-left: 4px solid var(--lightext);
  }

  .social{
    bottom: 44px;
    position: fixed;
  
    .social-media{
      width: 34px;
      border-radius: 50%;
      margin: 0 5px;
    }
  
    .instagram{
      width: 36px;
    }
  }
}

@media (max-width: 1000px) {
  .drawer-navbar{
    display: flex;
    justify-content: space-between;
  }
}